.about {
  padding-top: 125px;
  padding-bottom: 39px;
  background-color: var(--bg-secondary);

  background-image: url('../images/about/about-mob-bg-1x.png');
  background-repeat: no-repeat;
  background-position-y:80%;
  background-size:contain;

  @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
    background-image: url('../images/about/about-mob-bg-2x.png');
  }

  @media screen and (min-width: 768px) {
    padding-top: 130px;
    padding-bottom: 66px;
    background-image: none;
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/about/about-desk-bg-1x.png');
    @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
      background-image: url('../images/about/about-desk-bg-2x.png');
    }
  }
}
.about__subtitle {
  color: var(--accent-secondary);
  margin-bottom: 15px;
}
.about__title {
  color: var(--accent-primary);
  margin-bottom: 26px;
}
.about__picture {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;
}
.about__text {
  
  margin-left: 30px;
  margin-right: 30px;
}
.about__main-text {
  @include font (12px,1.62,0.64,500);
  color: var(--text-dark);
  margin-bottom: 32px;
}
.about__description-text {
  @include font (12px,1.62,0.64,500);
  color: var(--text-light);
  margin-bottom: 25px;
}
.about__button {
  position: absolute;
  left: 30px;
  
  font-family: inherit;
  @include font (14px,1.3,0,700);
  color:var(--accent-primary);
  background-color: var(--white-color);
  border: none;
  border-radius: 22px;
  min-width: 176px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 37px;
  padding-right: 37px;
  margin: auto;
  transition: color var(--animation), background-color var(--animation);

  &:focus,
  &:hover {
  background-color:#ECEBEB;
  }
  &::after {
    content: '';
    margin-left: 13px;
    height: 10px;
    width: 10px;

    background-image: url('../images/about/about-icon.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
.about__description {
  position: relative;
}

