.section-contact {
  background-color: var(--bg-secondary);
  width: 1280px;
}
.container {
  display: flex;
  justify-content: center;

  width: 100%;
}

.container-contact {
  width: 330px;
  height: 572px;
  margin-left: 30px;

  padding-top: 51px;
  padding-left: 43px;
  padding-bottom: 62px;

  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contact-title {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 73px;
  height: 28px;

  background: var(--accent-yellow);
  border-radius: 6px;
  text-align: center;
  margin-bottom: 32px;

  color: var(--white-color);
}
.contact-title_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 28px;
  text-align: center;
  margin-bottom: 32px;
  background: var(--accent-green);
  border-radius: 6px;
  color: var(--white-color);
}

.contact-location {
  margin-bottom: 10px;
  @include font(16px, 1.16, 0.04, 500);

  color: var(--text-dark);
}

.contact-text {
  display: block;
  padding-bottom: 32px;
  width: 244px;
  @include font(16px, 1.14, 0.04, 500);
  color: var(--text-light);

  border-bottom: 1px solid var(--contact-border);
}

.contact-date-time {
  height: 30px;
  @include font(16px, 1.16, 0.04, 500);
  color: var(--text-dark);
}
.contact-date-day {
  height: 30px;
  margin-bottom: 15px;

  margin-top: -2px;
  @include font(16px, 1.16, 0, 500);

  color: var(--accent-secondary);
}
.contact-date {
  margin-top: 32px;
  margin-bottom: 32px;
}

.contact-adress {
  border-top: 1px solid var(--contact-border);
  padding-top: 32px;
}

.contact-adress_tel {
  margin-bottom: 10px;
}

.contact-link {
  width: 243px;
  height: 50px;

  @include font(16px, 1.14, 0, 500);

  color: var(--text-light);
  margin-top: 20px;
}

.contact-btn {
  display: flex;
  justify-content: center;

  margin-top: 86px;
}
.contact-btn_main {
  margin-right: auto;
  margin-left: auto;
}

.contact-btn_location {
  @include font(16px, 1.31, 0, 700);

  width: 198px;
  height: 44px;
  cursor: pointer;
  margin-left: 15px;
  display: block;
  background: var(--button-contact);
  color: var(--white-color);
  border-radius: 22px;
  border: none;

  transition: background-color var(--animation-duration) var(--timing-function);
}
.contact-btn_ranchize {
  @include font(16px, 1.31, 0, 700);
  width: 198px;
  height: 44px;
  cursor: pointer;
  margin-left: 15px;

  background: var(--white-color);
  color: var(--accent-primary);
  border-radius: 22px;
  border: none;
  transition: background-color var(--animation-duration) var(--timing-function);

  display: block;
}
