/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';

@import './utils/normalize';
@import './utils/variables';
@import './utils/base';
@import './utils/visually-hidden';
@import './contact';
