.arrow {
  position: relative;
}
.scrollup {
  text-align: center;
  padding: 7px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-image: none;
  color: rgba(212, 20, 68, 0.315);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  z-index: 10;
  box-shadow: none;
  // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  //   0px 2px 1px rgba(0, 0, 0, 0.2);
  &:hover {
    color: var(--accent-green);
    background-image: none;
  }
  &-show {
    display: block;
  }
}
.scrollup__icon {
  width: 30px;
  height: 30px;
  fill: currentColor;
}

.scrollup-show {
  display: block;
}
