<section class="section-contact">
  <h2 class="visually-hidden">Contact</h2>
  <div class="container">
    <div class="container-contact">
      <p class="contact-title">CAFE</p>
      <p class="contact-location">Chicago</p>
      <p class="contact-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <ul class="contact-date list">
        <li class="contact-date-time">Monday - Friday</li>
        <p class="contact-date-day">06:00 AM - 10:00 PM</p>
        <li class="contact-date-time">Monday - Friday</li>
        <p class="contact-date-day">06:00 AM - 10:00 PM</p>
      </ul>
      <ul class="list contact-adress">
        <li class="contact-adress_tel">
          <a href="tel:+61(0) 383 766 284" class="link contact-tel">+61(0) 383 766 284</a>
        </li>
        <li class="contact-adress_mail">
          <a href="mailto:info@devstudio.com" class="link contact-mail">info@devstudio.com</a>
        </li>
      </ul>
    </div>
    <div class="container-contact">
      <p class="contact-title">CAFE</p>
      <p class="contact-location">Los Angeles</p>
      <p class="contact-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <ul class="contact-date list">
        <li class="contact-date-time">Monday - Friday</li>
        <p class="contact-date-day">06:00 AM - 10:00 PM</p>
        <li class="contact-date-time">Monday - Friday</li>
        <p class="contact-date-day">06:00 AM - 10:00 PM</p>
      </ul>
      <ul class="list contact-adress">
        <li class="contact-adress_tel">
          <a href="tel:+61(0) 383 766 284" class="link contact-tel">+61(0) 383 766 284</a>
        </li>
        <li class="contact-adress_mail">
          <a href="mailto:info@devstudio.com" class="link contact-mail">info@devstudio.com</a>
        </li>
      </ul>
    </div>
    <div class="container-contact">
      <p class="contact-title">CAFE</p>
      <p class="contact-location">New York</p>
      <p class="contact-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <ul class="contact-date list">
        <li class="contact-date-time">Monday - Friday</li>
        <p class="contact-date-day">06:00 AM - 10:00 PM</p>
        <li class="contact-date-time">Monday - Friday</li>
        <p class="contact-date-day">06:00 AM - 10:00 PM</p>
      </ul>
      <ul class="list contact-adress">
        <li class="contact-adress_tel">
          <a href="tel:+61(0) 383 766 284" class="link contact-tel">+61(0) 383 766 284</a>
        </li>
        <li class="contact-adress_mail">
          <a href="mailto:info@devstudio.com" class="link contact-mail">info@devstudio.com</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="contact-btn">
    <button type="submit" class="contact-btn_location">Our location ></button>
    <button type="submit" class="contact-btn_ranchize">Franchize</button>
  </div>
</section>
