<section class="prod">
  <div class="container">
    <p class="prod__subtitle subtitle">100% natural</p>
    <h2 id="prod" class="prod__title title">products</h2>
    <ul class="prod-list list">
      <li class="prod-list__item prod-card">
        <h3 class="prod-card__title">ice cream</h3>
        <p class="prod-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
          <span class="prod-card__text--is-hidden">dolore magna aliqua facilisis.</span>
        </p>
        <button type="button" class="prod-card__button">
          <img
            srcset="
              /images/prod/prod-arrow-right-1x.png 1x,
              /images/prod/prod-arrow-right-2x.png 2x
            "
            src="/images/prod/prod-arrow-right-1x.png"
            alt="arrow"
            width="40"
          />
        </button>
      </li>
      <li class="prod-list__item prod-card">
        <h3 class="prod-card__title">ice coffee</h3>
        <p class="prod-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
          <span class="prod-card__text--is-hidden">dolore magna aliqua facilisis.</span>
        </p>
        <button type="button" class="prod-card__button">
          <img
            srcset="
              /images/prod/prod-arrow-right-1x.png 1x,
              /images/prod/prod-arrow-right-2x.png 2x
            "
            src="/images/prod/prod-arrow-right-1x.png"
            alt="arrow"
            width="40"
          />
        </button>
      </li>
      <li class="prod-list__item prod-card">
        <h3 class="prod-card__title">milkshakes</h3>
        <p class="prod-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
          <span class="prod-card__text--is-hidden">dolore magna aliqua facilisis.</span>
        </p>
        <button type="button" class="prod-card__button">
          <img
            srcset="
              /images/prod/prod-arrow-right-1x.png 1x,
              /images/prod/prod-arrow-right-2x.png 2x
            "
            src="/images/prod/prod-arrow-right-1x.png"
            alt="arrow"
            width="40"
          />
        </button>
      </li>
    </ul>
  </div>
</section>
